p {
  font-family: 'Open Sans', sans-serif;
  color: #696969;
  font-size: 16px;
  line-height: 25px;
}

.about-ul {
  font-family: 'Open Sans', sans-serif;
  color: #696969;
  font-size: 16px;
  list-style-type: circle;
  margin-left: 60px;
  line-height: 35px;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
  color: black;
}

a, a:visited, a:active, a:link {
  text-decoration: none;
}

.text-link {
  color: #696969;
  text-decoration: underline !important;
}

.text-link:hover {
  color: #155bdb;
}

.highlight {
  color: #155bdb;
}

.bolded {
  font-weight: 600;
}

main {
  clear: both;
  width: 1366px;
  background-color: white;
  margin-top: 140px;
}

#home-page {
  height: 900px;
}
#services-page {
  height: 400px;
}

#about-page {
  height: 1200px;
}

#contact-page {
  height: 900px;
}

#portfolio-page {
  height: 1200px;
}

/*****************
***** LOGO ****
******************/

.nods-logo img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: block;
}

/*****************
***** NAV BAR ****
******************/
nav {
  position: absolute;
  top: 200px;
  width: 1366px;
  height: 50px;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  margin-right: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;

}

nav ul li a:hover {
  color: #c1c1c1;
}

.nav-line {
  content: '';
  height: 1px;
  width: 1200px;
  background-color: black;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.contact-button {
  position: absolute;
  top: -6px;
  left: 900px;
  width: 100px;
  height: 30px;
  background: linear-gradient(to right, #155bdb, #1148ad);
  border-radius: 25px;
}

.contact-button p {
  line-height: 28px;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
}

.contact-button:hover{
  background: #155bdb;
  text-decoration: none;
}

.contact-button-services {
  position: absolute;
  top: 530px;
  left: 650px;
  width: 100px;
  height: 30px;
  background: linear-gradient(to right, #155bdb, #1148ad);
  border-radius: 25px;
}

.contact-button-services p {
  line-height: 28px;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
}

.contact-button-services:hover{
  background: #155bdb;
  text-decoration: none;
}

/*****************
***** MAIN ****
******************/

.full-width {
  margin: auto;
  width: 1400px;
  text-align: center;
  margin-bottom: 100px;
}

.half-width {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

/*****************
***** HOME ****
******************/

.hello h1 {
  font-family: 'Kaushan Script';
  font-size: 150px;
  margin-bottom: 20px;
}

.navigate {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.navigate a {
  display: inline-block;
  margin-right: 28px;
}
.navigate a:last-child{
  margin-right: 0;
}

.link-box {
  height: 280px;
  width: 276px;
  float: left;
  opacity: 0.7;
}

.link-box:hover {
  opacity: 1;
  cursor: pointer;
}

#service-box {
  background-image: url('../images/services-box.jpg');
}

#portfolio-box {
  background-image: url('../images/portfolio-box.jpg');
}

#about-box {
  background-image: url('../images/about-box.jpg');
}

#contact-box {
  background-image: url('../images/contact-box.jpg');
}

.navigate-header-box {
  text-align: center;
  width: 160px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 130px;
  background-color: white;
  background: rgba(255, 255, 255, 0.9);
}

.navigate h2 {
  font-size: 25px;
  line-height: 46px;
  text-transform: uppercase;
}

/*****************
***** PAGES ****
******************/
.headline {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#summertime h2 {
  font-family: 'Kaushan Script';
  font-size: 30px;
  color: #ff0060;
}
#summertime {
  transform: rotate(15deg);
  position: absolute;
  top: 300px;
  left: 680px;
}

.left-align-text {
  width: 500px;
  float: left;
  text-align: left;
  margin-left: 200px;
  margin-right: 109px;

}
.left-align-text p {
  margin-bottom: 20px;
}

.about-pic {
  float: left;
  margin-bottom: 67px;

}



/*****************
***** CONTACT-FORM ****
******************/
label {
  font-family: 'Open Sans';
  font-size: 15px;
}

input[type=text], select, textarea {
    width: 700px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    font-family: 'Open Sans';
}

input[type=submit] {
    background: linear-gradient(to right, #155bdb, #1148ad);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 15px;
    height: 30px;
}

input[value=Submit] {
  line-height: 8px;
}

input[type=submit]:hover {
    background: #155bdb;
}

.form-container {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

/*****************
***** FOOTER ****
******************/
footer {
  clear: both;
  background-color: #ededed;
  height: 70px;
  width: 1366;
  text-align: center;
  padding: 5px;
}

.footer-social {
  margin-right: auto;
  margin-left: auto;
}

.credits {
  margin-right: auto;
  margin-left: auto;
}
.credits p {
  font-size: 8px;
}

footer a {
  color: #696969;
}

.dim-social {
  opacity: 0.8;
}

.dim-social:hover {
  opacity: 1;
}
